
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BinaYonetimSistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BinaYonetimSistemi]
GO
/****** Object:  Table [dbo].[Apartman]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartman](
	[apartman_id] [int] IDENTITY(1,1) NOT NULL,
	[kat_sayisi] [int] NOT NULL,
	[daire_sayisi] [int] NOT NULL,
	[apartman_no] [nvarchar](50) NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[apartman_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borc_Tipi]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borc_Tipi](
	[borc_tipi_id] [int] IDENTITY(1,1) NOT NULL,
	[borc_tipi_ad] [nvarchar](50) NOT NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[borc_tipi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borc_Turu]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borc_Turu](
	[tur_id] [int] IDENTITY(1,1) NOT NULL,
	[tur_ad] [nvarchar](50) NOT NULL,
	[borc_tipi_id] [int] NOT NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[tur_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Borclar]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Borclar](
	[borc_id] [int] IDENTITY(1,1) NOT NULL,
	[borc_tutari] [decimal](10, 2) NOT NULL,
	[tur_id] [int] NOT NULL,
	[daire_id] [int] NOT NULL,
	[son_odeme_tarihi] [date] NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[borc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Daire]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Daire](
	[daire_id] [int] IDENTITY(1,1) NOT NULL,
	[daire_no] [nvarchar](50) NOT NULL,
	[apartman_id] [int] NOT NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
	[doluluk_durumu] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[daire_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[kullanici_id] [int] IDENTITY(1,1) NOT NULL,
	[tc] [nvarchar](11) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[soyad] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NULL,
	[tel_no] [nvarchar](20) NULL,
	[sifre] [nvarchar](255) NULL,
	[daire_id] [int] NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
	[password_hash] [varbinary](64) NULL,
	[password_salt] [varbinary](16) NULL,
	[password_iter] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[kullanici_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici_Rolleri]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici_Rolleri](
	[rol_id] [int] NOT NULL,
	[kullanici_id] [int] NOT NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC,
	[kullanici_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Makbuzlar]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Makbuzlar](
	[makbuz_id] [int] IDENTITY(1,1) NOT NULL,
	[odeme_id] [int] NOT NULL,
	[aciklama] [nvarchar](255) NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[dogrulama_durumu] [bit] NULL,
	[dogrulama_tarihi] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
	[dosya_adi] [nvarchar](255) NULL,
	[dosya_yolu] [nvarchar](500) NULL,
	[icerik_turu] [nvarchar](100) NULL,
	[dosya_boyutu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[makbuz_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odemeler]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemeler](
	[odeme_id] [int] IDENTITY(1,1) NOT NULL,
	[borc_id] [int] NOT NULL,
	[odeme_tutari] [decimal](10, 2) NOT NULL,
	[odeme_durumu] [nvarchar](50) NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[odeme_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_Yetkileri]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Yetkileri](
	[yetki_id] [int] NOT NULL,
	[rol_id] [int] NOT NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[yetki_id] ASC,
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[rol_id] [int] IDENTITY(1,1) NOT NULL,
	[rol_turu] [nvarchar](50) NOT NULL,
	[aciklama] [nvarchar](255) NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sistem]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sistem](
	[sistem_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](50) NOT NULL,
	[aciklama] [nvarchar](255) NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[sistem_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yetkiler]    Script Date: 29.08.2025 13:46:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yetkiler](
	[yetki_id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [nvarchar](100) NOT NULL,
	[aciklama] [nvarchar](300) NULL,
	[sistem_id] [int] NOT NULL,
	[insert_user] [nvarchar](50) NULL,
	[update_user] [nvarchar](50) NULL,
	[insert_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[aktiflik_durumu] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[yetki_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Apartman] ON 

INSERT [dbo].[Apartman] ([apartman_id], [kat_sayisi], [daire_sayisi], [apartman_no], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (1, 10, 40, N'A1', N'admin', NULL, CAST(N'2025-08-21T15:24:38.797' AS DateTime), NULL, 1)
INSERT [dbo].[Apartman] ([apartman_id], [kat_sayisi], [daire_sayisi], [apartman_no], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (2, 1, 1, N'Admin', N'admin', NULL, CAST(N'2025-08-21T16:00:33.027' AS DateTime), NULL, 1)
INSERT [dbo].[Apartman] ([apartman_id], [kat_sayisi], [daire_sayisi], [apartman_no], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (3, 0, 44, NULL, NULL, NULL, CAST(N'2025-08-22T07:10:47.403' AS DateTime), CAST(N'2025-08-22T07:48:53.870' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Apartman] OFF
GO
SET IDENTITY_INSERT [dbo].[Borc_Tipi] ON 

INSERT [dbo].[Borc_Tipi] ([borc_tipi_id], [borc_tipi_ad], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (1, N'sahsi borc', N'admin', NULL, CAST(N'2025-08-20T10:54:52.283' AS DateTime), NULL, 1)
INSERT [dbo].[Borc_Tipi] ([borc_tipi_id], [borc_tipi_ad], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (2, N'genel borc', N'admin', NULL, CAST(N'2025-08-20T10:54:52.283' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Borc_Tipi] OFF
GO
SET IDENTITY_INSERT [dbo].[Borc_Turu] ON 

INSERT [dbo].[Borc_Turu] ([tur_id], [tur_ad], [borc_tipi_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (1, N'Aidat', 2, N'admin', NULL, CAST(N'2025-08-20T10:55:03.060' AS DateTime), NULL, 1)
INSERT [dbo].[Borc_Turu] ([tur_id], [tur_ad], [borc_tipi_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (2, N'Asansör bakım/onarım masrafları', 2, N'admin', NULL, CAST(N'2025-08-20T10:55:03.060' AS DateTime), NULL, 1)
INSERT [dbo].[Borc_Turu] ([tur_id], [tur_ad], [borc_tipi_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (3, N'Apartman su deposu bakımı/tamiri', 2, N'admin', NULL, CAST(N'2025-08-20T10:55:03.060' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Borc_Turu] OFF
GO
SET IDENTITY_INSERT [dbo].[Borclar] ON 

INSERT [dbo].[Borclar] ([borc_id], [borc_tutari], [tur_id], [daire_id], [son_odeme_tarihi], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (1, CAST(2500.00 AS Decimal(10, 2)), 13, 35, CAST(N'2025-08-31' AS Date), NULL, NULL, CAST(N'2025-08-21T16:19:00.297' AS DateTime), CAST(N'2025-08-21T16:32:55.720' AS DateTime), 1)
INSERT [dbo].[Borclar] ([borc_id], [borc_tutari], [tur_id], [daire_id], [son_odeme_tarihi], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (2, CAST(500.00 AS Decimal(10, 2)), 14, 16, CAST(N'2025-08-31' AS Date), NULL, NULL, CAST(N'2025-08-21T16:36:24.977' AS DateTime), CAST(N'2025-08-22T09:25:56.723' AS DateTime), 0)
INSERT [dbo].[Borclar] ([borc_id], [borc_tutari], [tur_id], [daire_id], [son_odeme_tarihi], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (3, CAST(1500.00 AS Decimal(10, 2)), 15, 7, CAST(N'2025-08-31' AS Date), NULL, NULL, CAST(N'2025-08-21T16:41:15.007' AS DateTime), CAST(N'2025-08-22T09:25:56.640' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Borclar] OFF
GO
SET IDENTITY_INSERT [dbo].[Daire] ON 

INSERT [dbo].[Daire] ([daire_id], [daire_no], [apartman_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu], [doluluk_durumu]) VALUES (1, N'1', 1, N'admin', NULL, CAST(N'2025-08-21T15:25:12.560' AS DateTime), CAST(N'2025-08-21T16:24:48.487' AS DateTime), 1, 0)
INSERT [dbo].[Daire] ([daire_id], [daire_no], [apartman_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu], [doluluk_durumu]) VALUES (2, N'2', 1, N'admin', NULL, CAST(N'2025-08-21T15:25:12.560' AS DateTime), CAST(N'2025-08-21T16:33:46.060' AS DateTime), 1, 1)
INSERT [dbo].[Daire] ([daire_id], [daire_no], [apartman_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu], [doluluk_durumu]) VALUES (3, N'3', 1, N'admin', NULL, CAST(N'2025-08-21T15:25:12.560' AS DateTime), CAST(N'2025-08-21T16:30:31.437' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[Daire] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
INSERT [dbo].[Kullanici_Rolleri] ([rol_id], [kullanici_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (1, 1, NULL, NULL, CAST(N'2025-08-21T15:29:55.240' AS DateTime), NULL, 1)
INSERT [dbo].[Kullanici_Rolleri] ([rol_id], [kullanici_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (2, 3, NULL, NULL, CAST(N'2025-08-21T13:06:16.413' AS DateTime), NULL, 1)
INSERT [dbo].[Kullanici_Rolleri] ([rol_id], [kullanici_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (3, 3, NULL, NULL, CAST(N'2025-08-21T13:06:16.440' AS DateTime), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Makbuzlar] ON 

INSERT [dbo].[Makbuzlar] ([makbuz_id], [odeme_id], [aciklama], [insert_user], [update_user], [insert_date], [update_date], [dogrulama_durumu], [dogrulama_tarihi], [aktiflik_durumu], [dosya_adi], [dosya_yolu], [icerik_turu], [dosya_boyutu]) VALUES (10, 10, NULL, NULL, NULL, CAST(N'2025-08-22T14:49:06.633' AS DateTime), CAST(N'2025-08-22T15:33:33.293' AS DateTime), 0, NULL, 0, N'c54931ce819e43148a42b755aaa7a2f5.pdf', N'/uploads/c54931ce819e43148a42b755aaa7a2f5.pdf', N'application/pdf', 308665)
INSERT [dbo].[Makbuzlar] ([makbuz_id], [odeme_id], [aciklama], [insert_user], [update_user], [insert_date], [update_date], [dogrulama_durumu], [dogrulama_tarihi], [aktiflik_durumu], [dosya_adi], [dosya_yolu], [icerik_turu], [dosya_boyutu]) VALUES (11, 11, NULL, NULL, NULL, CAST(N'2025-08-22T14:50:04.727' AS DateTime), CAST(N'2025-08-28T12:33:50.150' AS DateTime), 1, CAST(N'2025-08-28T12:33:50.150' AS DateTime), 1, N'3b0fb2fa8f624177a3377c4e88092334.png', N'/uploads/3b0fb2fa8f624177a3377c4e88092334.png', N'image/png', 101107)
INSERT [dbo].[Makbuzlar] ([makbuz_id], [odeme_id], [aciklama], [insert_user], [update_user], [insert_date], [update_date], [dogrulama_durumu], [dogrulama_tarihi], [aktiflik_durumu], [dosya_adi], [dosya_yolu], [icerik_turu], [dosya_boyutu]) VALUES (12, 12, NULL, NULL, NULL, CAST(N'2025-08-22T15:21:23.517' AS DateTime), CAST(N'2025-08-22T15:33:31.660' AS DateTime), 1, CAST(N'2025-08-22T15:33:31.660' AS DateTime), 1, N'f6dfb85f038d4b2fbd3e0cc0ead304f7.jpg', N'/uploads/f6dfb85f038d4b2fbd3e0cc0ead304f7.jpg', N'application/octet-stream', 156676)
SET IDENTITY_INSERT [dbo].[Makbuzlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Odemeler] ON 

INSERT [dbo].[Odemeler] ([odeme_id], [borc_id], [odeme_tutari], [odeme_durumu], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (1, 1, CAST(500.00 AS Decimal(10, 2)), N'ödendi', NULL, NULL, CAST(N'2025-08-21T16:21:58.067' AS DateTime), CAST(N'2025-08-21T16:22:28.843' AS DateTime), 1)
INSERT [dbo].[Odemeler] ([odeme_id], [borc_id], [odeme_tutari], [odeme_durumu], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (2, 1, CAST(1000.00 AS Decimal(10, 2)), N'ödendi', NULL, NULL, CAST(N'2025-08-21T17:20:59.617' AS DateTime), CAST(N'2025-08-21T17:21:41.737' AS DateTime), 1)
INSERT [dbo].[Odemeler] ([odeme_id], [borc_id], [odeme_tutari], [odeme_durumu], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (3, 1, CAST(500.00 AS Decimal(10, 2)), N'ödendi', NULL, NULL, CAST(N'2025-08-21T17:23:52.877' AS DateTime), CAST(N'2025-08-21T19:50:44.970' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Odemeler] OFF
GO
INSERT [dbo].[Rol_Yetkileri] ([yetki_id], [rol_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (1, 1, NULL, NULL, CAST(N'2025-08-19T14:16:22.167' AS DateTime), NULL, 1)
INSERT [dbo].[Rol_Yetkileri] ([yetki_id], [rol_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (1, 2, NULL, NULL, CAST(N'2025-08-19T14:16:22.170' AS DateTime), NULL, 1)
INSERT [dbo].[Rol_Yetkileri] ([yetki_id], [rol_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (1, 3, NULL, NULL, CAST(N'2025-08-19T14:16:22.170' AS DateTime), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Roller] ON 

INSERT [dbo].[Roller] ([rol_id], [rol_turu], [aciklama], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (1, N'admin', N'Tüm yetkilere sahip sistem yöneticisi.', NULL, NULL, CAST(N'2025-08-19T14:16:22.167' AS DateTime), CAST(N'2025-08-22T08:29:55.110' AS DateTime), 1)
INSERT [dbo].[Roller] ([rol_id], [rol_turu], [aciklama], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (2, N'Bina Yöneticisi', N'Apartman yönetimi ile ilgili yetkilere sahip.', NULL, NULL, CAST(N'2025-08-19T14:16:22.167' AS DateTime), NULL, 1)
INSERT [dbo].[Roller] ([rol_id], [rol_turu], [aciklama], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (3, N'Apartman Sakini', N'Sadece kendi bilgilerini görme yetkisine sahip.', NULL, NULL, CAST(N'2025-08-19T14:16:22.167' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Roller] OFF
GO
SET IDENTITY_INSERT [dbo].[Sistem] ON 

INSERT [dbo].[Sistem] ([sistem_id], [ad], [aciklama], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (1, N'Bina Yönetim Sistemi', N'Mobil ve Web Yönetim Sistemi', NULL, NULL, CAST(N'2025-08-19T14:16:22.167' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Sistem] OFF
GO
SET IDENTITY_INSERT [dbo].[Yetkiler] ON 

INSERT [dbo].[Yetkiler] ([yetki_id], [ad], [aciklama], [sistem_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (1, N'Profil Görüntüleme ve Güncelleme', NULL, 1, NULL, NULL, CAST(N'2025-08-19T14:16:22.167' AS DateTime), NULL, 1)
INSERT [dbo].[Yetkiler] ([yetki_id], [ad], [aciklama], [sistem_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (2, N'Kullanıcı Güncelleme', NULL, 1, NULL, NULL, CAST(N'2025-08-19T14:16:22.167' AS DateTime), NULL, 1)
INSERT [dbo].[Yetkiler] ([yetki_id], [ad], [aciklama], [sistem_id], [insert_user], [update_user], [insert_date], [update_date], [aktiflik_durumu]) VALUES (3, N'Yeni Kullanıcı Ekleme', NULL, 1, NULL, NULL, CAST(N'2025-08-19T14:16:22.167' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Yetkiler] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Kullanici_Tc]    Script Date: 29.08.2025 13:46:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Kullanici_Tc] ON [dbo].[Kullanici]
(
	[tc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Apartman] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Apartman] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Borc_Tipi] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Borc_Tipi] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Borc_Turu] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Borc_Turu] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Borclar] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Borclar] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Daire] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Daire] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Daire] ADD  DEFAULT ((0)) FOR [doluluk_durumu]
GO
ALTER TABLE [dbo].[Kullanici] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Kullanici] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Kullanici_Rolleri] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Kullanici_Rolleri] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Makbuzlar] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Makbuzlar] ADD  DEFAULT ((0)) FOR [dogrulama_durumu]
GO
ALTER TABLE [dbo].[Makbuzlar] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Odemeler] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Odemeler] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Rol_Yetkileri] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Rol_Yetkileri] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Roller] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Roller] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Sistem] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Sistem] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Yetkiler] ADD  DEFAULT (getdate()) FOR [insert_date]
GO
ALTER TABLE [dbo].[Yetkiler] ADD  DEFAULT ((1)) FOR [aktiflik_durumu]
GO
ALTER TABLE [dbo].[Borc_Turu]  WITH CHECK ADD  CONSTRAINT [FK_BorcTuru_BorcTipi] FOREIGN KEY([borc_tipi_id])
REFERENCES [dbo].[Borc_Tipi] ([borc_tipi_id])
GO
ALTER TABLE [dbo].[Borc_Turu] CHECK CONSTRAINT [FK_BorcTuru_BorcTipi]
GO
ALTER TABLE [dbo].[Borclar]  WITH CHECK ADD  CONSTRAINT [FK_Borclar_BorcTuru] FOREIGN KEY([tur_id])
REFERENCES [dbo].[Borc_Turu] ([tur_id])
GO
ALTER TABLE [dbo].[Borclar] CHECK CONSTRAINT [FK_Borclar_BorcTuru]
GO
ALTER TABLE [dbo].[Borclar]  WITH CHECK ADD  CONSTRAINT [FK_Borclar_Daire] FOREIGN KEY([daire_id])
REFERENCES [dbo].[Daire] ([daire_id])
GO
ALTER TABLE [dbo].[Borclar] CHECK CONSTRAINT [FK_Borclar_Daire]
GO
ALTER TABLE [dbo].[Daire]  WITH CHECK ADD  CONSTRAINT [FK_Daire_Apartman] FOREIGN KEY([apartman_id])
REFERENCES [dbo].[Apartman] ([apartman_id])
GO
ALTER TABLE [dbo].[Daire] CHECK CONSTRAINT [FK_Daire_Apartman]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Daire] FOREIGN KEY([daire_id])
REFERENCES [dbo].[Daire] ([daire_id])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_Kullanici_Daire]
GO
ALTER TABLE [dbo].[Kullanici_Rolleri]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciRolleri_Kullanici] FOREIGN KEY([kullanici_id])
REFERENCES [dbo].[Kullanici] ([kullanici_id])
GO
ALTER TABLE [dbo].[Kullanici_Rolleri] CHECK CONSTRAINT [FK_KullaniciRolleri_Kullanici]
GO
ALTER TABLE [dbo].[Kullanici_Rolleri]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciRolleri_Roller] FOREIGN KEY([rol_id])
REFERENCES [dbo].[Roller] ([rol_id])
GO
ALTER TABLE [dbo].[Kullanici_Rolleri] CHECK CONSTRAINT [FK_KullaniciRolleri_Roller]
GO
ALTER TABLE [dbo].[Makbuzlar]  WITH CHECK ADD  CONSTRAINT [FK_Makbuzlar_Odemeler] FOREIGN KEY([odeme_id])
REFERENCES [dbo].[Odemeler] ([odeme_id])
GO
ALTER TABLE [dbo].[Makbuzlar] CHECK CONSTRAINT [FK_Makbuzlar_Odemeler]
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD  CONSTRAINT [FK_Odemeler_Borclar] FOREIGN KEY([borc_id])
REFERENCES [dbo].[Borclar] ([borc_id])
GO
ALTER TABLE [dbo].[Odemeler] CHECK CONSTRAINT [FK_Odemeler_Borclar]
GO
ALTER TABLE [dbo].[Rol_Yetkileri]  WITH CHECK ADD  CONSTRAINT [FK_RolYetkileri_Roller] FOREIGN KEY([rol_id])
REFERENCES [dbo].[Roller] ([rol_id])
GO
ALTER TABLE [dbo].[Rol_Yetkileri] CHECK CONSTRAINT [FK_RolYetkileri_Roller]
GO
ALTER TABLE [dbo].[Rol_Yetkileri]  WITH CHECK ADD  CONSTRAINT [FK_RolYetkileri_Yetkiler] FOREIGN KEY([yetki_id])
REFERENCES [dbo].[Yetkiler] ([yetki_id])
GO
ALTER TABLE [dbo].[Rol_Yetkileri] CHECK CONSTRAINT [FK_RolYetkileri_Yetkiler]
GO
ALTER TABLE [dbo].[Yetkiler]  WITH CHECK ADD  CONSTRAINT [FK_Yetkiler_Sistem] FOREIGN KEY([sistem_id])
REFERENCES [dbo].[Sistem] ([sistem_id])
GO
ALTER TABLE [dbo].[Yetkiler] CHECK CONSTRAINT [FK_Yetkiler_Sistem]
GO
USE [master]
GO
